In [29]:
import pandas as pd
from tqdm import tqdm

In [30]:
df  =pd.read_csv("meta3.csv")
df.shape

(16131, 12)

In [31]:
df = df[df["name"] != "bcd"]

In [32]:
df.shape

(10062, 12)

In [33]:
df.to_csv("meta2.csv", index=False)

In [34]:
df  =pd.read_csv("meta2.csv")
df

,img_name,img_path,name,NoDamage,Crack,Efflorescence,Spalling,BarsExposed,Rust,split_type,CLASSES_STRING,CLASSES_N
0,image_0000230_crop_0000002.png,codebrim-classif/classification_dataset/train/...,codebrim-classif,0,0,0,1,0,0,train,S,1
1,image_0000811_crop_0000003.png,codebrim-classif/classification_dataset/train/...,codebrim-classif,0,0,0,0,0,1,train,R,1
2,image_0000601_crop_0000002.png,codebrim-classif/classification_dataset/train/...,codebrim-classif,0,0,1,0,0,0,train,E,1
3,image_0001525_crop_0000013.png,codebrim-classif/classification_dataset/train/...,codebrim-classif,0,1,0,0,0,0,train,C,1
4,image_0001161_crop_0000009.png,codebrim-classif/classification_dataset/train/...,codebrim-classif,0,0,0,1,1,0,train,SB,2
...,...,...,...,...,...,...,...,...,...,...,...,...
10057,crack96.jpg,mcds/MultiClassifier/cracks/crack96.jpg,mcds_bikit,0,1,0,0,0,0,train,C,1
10058,crack97.jpg,mcds/Corrosion/no rust staining/crack97.jpg,mcds_bikit,0,1,0,0,0,0,train,C,1
10059,crack98.jpg,mcds/MultiClassifier/cracks/crack98.jpg,mcds_bikit,0,1,0,0,0,0,train,C,1
10060,crack99.jpg,mcds/MultiClassifier/cracks/crack99.jpg,mcds_bikit,0,1,0,0,0,0,train,C,1
10061,demo.jpg,mcds/MultiClassifier/cracks/demo.jpg,mcds_bikit,0,1,0,0,0,0,train,C,1

# clean dac1k

In [43]:
class_names = ['NoDamage', 'Crack', 'Efflorescence', 'Spalling', 'BarsExposed', 'Rust']

In [44]:
df2  =pd.read_csv("dacl1k.csv")
df2[class_names]

      NoDamage  Crack  Efflorescence  Spalling  BarsExposed  Rust
0            0      0              0         0            0     2
1            1      0              0         0            0     0
2            1      0              0         0            0     0
3            0      0              0         0            0     1
4            0      1              0         0            0     0
...        ...    ...            ...       ...          ...   ...
1469         0      0              0         1            1     0
1470         0      0              0         1            1     0
1471         0      0              0         1            1     0
1472         0      0              0         1            1     0
1473         0      0              1         0            1     0

[1474 rows x 6 columns]

In [55]:
df2[class_names] = df2[class_names].astype(bool).astype(int)
df2["CLASSES_N"] = df2[class_names].sum(axis=1)

In [56]:
df2

,img_path,img_name,NoDamage,Crack,Efflorescence,Rust,Spalling,BarsExposed,CLASSES_STRING,CLASSES_N,split_type,name
0,dacl1k/dacl1k/v1/14_001915.jpg,14_001915.jpg,0,0,0,1,0,0,R,1,train,dacl1k
1,dacl1k/dacl1k/v1/06_000043.jpg,06_000043.jpg,1,0,0,0,0,0,N,1,train,dacl1k
2,dacl1k/dacl1k/v1/17_000084.jpg,17_000084.jpg,1,0,0,0,0,0,N,1,train,dacl1k
3,dacl1k/dacl1k/v1/06_000213.jpg,06_000213.jpg,0,0,0,1,0,0,R,1,train,dacl1k
4,dacl1k/dacl1k/v1/06_000223.jpg,06_000223.jpg,0,1,0,0,0,0,C,1,train,dacl1k
...,...,...,...,...,...,...,...,...,...,...,...,...
1469,dacl1k/dacl1k/v1/16_000322.jpg,16_000322.jpg,0,0,0,0,1,1,BS,2,test,dacl1k
1470,dacl1k/dacl1k/v1/16_000053.jpg,16_000053.jpg,0,0,0,0,1,1,BS,2,test,dacl1k
1471,dacl1k/dacl1k/v1/16_000054.jpg,16_000054.jpg,0,0,0,0,1,1,BS,2,test,dacl1k
1472,dacl1k/dacl1k/v1/16_000333.jpg,16_000333.jpg,0,0,0,0,1,1,BS,2,test,dacl1k
1473,dacl1k/dacl1k/v1/16_000068.jpg,16_000068.jpg,0,0,1,0,0,1,BE,2,test,dacl1k

In [47]:
df2[class_names]

      NoDamage  Crack  Efflorescence  Spalling  BarsExposed  Rust
0            0      0              0         0            0     1
1            1      0              0         0            0     0
2            1      0              0         0            0     0
3            0      0              0         0            0     1
4            0      1              0         0            0     0
...        ...    ...            ...       ...          ...   ...
1469         0      0              0         1            1     0
1470         0      0              0         1            1     0
1471         0      0              0         1            1     0
1472         0      0              0         1            1     0
1473         0      0              1         0            1     0

[1474 rows x 6 columns]

In [58]:
df2.to_csv("dacl1k.csv", index=False)

# meta3+dacl1k

In [63]:
df1  =pd.read_csv("meta3.csv")
df2  =pd.read_csv("dacl1k.csv")
df2["name"]  ="dacl1k"

In [64]:
#df2[class_names] = df2[class_names].astype(bool).astype(int)
#df2["CLASSES_N"] = df2[class_names].sum(axis=1)

In [65]:
df1.columns

Index(['img_name', 'img_path', 'name', 'NoDamage', 'Crack', 'Efflorescence',
       'Spalling', 'BarsExposed', 'Rust', 'split_type', 'CLASSES_STRING',
       'CLASSES_N'],
      dtype='object')

In [66]:
df1

,img_name,img_path,name,NoDamage,Crack,Efflorescence,Spalling,BarsExposed,Rust,split_type,CLASSES_STRING,CLASSES_N
0,1.jpg,bcd/1.jpg,bcd,1,0,0,0,0,0,train,N,1
1,2.jpg,bcd/2.jpg,bcd,1,0,0,0,0,0,train,N,1
2,3.jpg,bcd/3.jpg,bcd,1,0,0,0,0,0,train,N,1
3,4.jpg,bcd/4.jpg,bcd,1,0,0,0,0,0,train,N,1
4,5.jpg,bcd/5.jpg,bcd,1,0,0,0,0,0,train,N,1
...,...,...,...,...,...,...,...,...,...,...,...,...
16126,crack96.jpg,mcds/MultiClassifier/cracks/crack96.jpg,mcds_bikit,0,1,0,0,0,0,train,C,1
16127,crack97.jpg,mcds/Corrosion/no rust staining/crack97.jpg,mcds_bikit,0,1,0,0,0,0,train,C,1
16128,crack98.jpg,mcds/MultiClassifier/cracks/crack98.jpg,mcds_bikit,0,1,0,0,0,0,train,C,1
16129,crack99.jpg,mcds/MultiClassifier/cracks/crack99.jpg,mcds_bikit,0,1,0,0,0,0,train,C,1
16130,demo.jpg,mcds/MultiClassifier/cracks/demo.jpg,mcds_bikit,0,1,0,0,0,0,train,C,1

In [67]:
df2

,img_path,img_name,NoDamage,Crack,Efflorescence,Rust,Spalling,BarsExposed,CLASSES_STRING,CLASSES_N,split_type,name
0,dacl1k/dacl1k/v1/14_001915.jpg,14_001915.jpg,0,0,0,1,0,0,R,1,train,dacl1k
1,dacl1k/dacl1k/v1/06_000043.jpg,06_000043.jpg,1,0,0,0,0,0,N,1,train,dacl1k
2,dacl1k/dacl1k/v1/17_000084.jpg,17_000084.jpg,1,0,0,0,0,0,N,1,train,dacl1k
3,dacl1k/dacl1k/v1/06_000213.jpg,06_000213.jpg,0,0,0,1,0,0,R,1,train,dacl1k
4,dacl1k/dacl1k/v1/06_000223.jpg,06_000223.jpg,0,1,0,0,0,0,C,1,train,dacl1k
...,...,...,...,...,...,...,...,...,...,...,...,...
1469,dacl1k/dacl1k/v1/16_000322.jpg,16_000322.jpg,0,0,0,0,1,1,BS,2,test,dacl1k
1470,dacl1k/dacl1k/v1/16_000053.jpg,16_000053.jpg,0,0,0,0,1,1,BS,2,test,dacl1k
1471,dacl1k/dacl1k/v1/16_000054.jpg,16_000054.jpg,0,0,0,0,1,1,BS,2,test,dacl1k
1472,dacl1k/dacl1k/v1/16_000333.jpg,16_000333.jpg,0,0,0,0,1,1,BS,2,test,dacl1k
1473,dacl1k/dacl1k/v1/16_000068.jpg,16_000068.jpg,0,0,1,0,0,1,BE,2,test,dacl1k

In [68]:
#string_list = []
#class_names = ['NoDamage', 'Crack', 'Efflorescence', 'Spalling', 'BarsExposed', 'Rust']
#for index, row in tqdm(df1.iterrows()):
#    string = ""
#    for idx, class_name in enumerate(class_names):        
#        if row[class_name] > 0: 
#            string += class_name[0]
#    string_list.append(string)
#
#df1["CLASSES_STRING"] = string_list
#df1["CLASSES_N"] = df1["CLASSES_STRING"].apply(lambda x: len(x))

In [70]:
order = ['img_name',
 'img_path',
 'name',
 'split_type',
 'NoDamage',
 'Crack',
 'Efflorescence',
 'Spalling',
 'BarsExposed',
 'Rust',
 'CLASSES_STRING',
 'CLASSES_N']

In [71]:
#order = list(df1.columns)

In [72]:
df1 = df1[order]
df2 = df2[order]

In [73]:
df1.head()

,img_name,img_path,name,split_type,NoDamage,Crack,Efflorescence,Spalling,BarsExposed,Rust,CLASSES_STRING,CLASSES_N
0,1.jpg,bcd/1.jpg,bcd,train,1,0,0,0,0,0,N,1
1,2.jpg,bcd/2.jpg,bcd,train,1,0,0,0,0,0,N,1
2,3.jpg,bcd/3.jpg,bcd,train,1,0,0,0,0,0,N,1
3,4.jpg,bcd/4.jpg,bcd,train,1,0,0,0,0,0,N,1
4,5.jpg,bcd/5.jpg,bcd,train,1,0,0,0,0,0,N,1

In [74]:
df2.head()

,img_name,img_path,name,split_type,NoDamage,Crack,Efflorescence,Spalling,BarsExposed,Rust,CLASSES_STRING,CLASSES_N
0,14_001915.jpg,dacl1k/dacl1k/v1/14_001915.jpg,dacl1k,train,0,0,0,0,0,1,R,1
1,06_000043.jpg,dacl1k/dacl1k/v1/06_000043.jpg,dacl1k,train,1,0,0,0,0,0,N,1
2,17_000084.jpg,dacl1k/dacl1k/v1/17_000084.jpg,dacl1k,train,1,0,0,0,0,0,N,1
3,06_000213.jpg,dacl1k/dacl1k/v1/06_000213.jpg,dacl1k,train,0,0,0,0,0,1,R,1
4,06_000223.jpg,dacl1k/dacl1k/v1/06_000223.jpg,dacl1k,train,0,1,0,0,0,0,C,1

In [75]:
df = pd.concat([df1, df2], axis=0)

In [76]:
df1.shape, df2.shape, df.shape

((16131, 12), (1474, 12), (17605, 12))

In [77]:
df1.to_csv("meta3.csv", index=False)
df.to_csv("meta3+dacl1k.csv", index=False)

# meta4+dacl1k

In [78]:
df1  =pd.read_csv("meta4.csv")
df2  =pd.read_csv("dacl1k.csv")
df2["name"]  ="dacl1k"

In [79]:
df1

,img_name,img_path,name,NoDamage,Crack,Efflorescence,Spalling,BarsExposed,Rust,split_type
0,1.jpg,bcd/1.jpg,bcd,1,0,0,0,0,0,train
1,2.jpg,bcd/2.jpg,bcd,1,0,0,0,0,0,train
2,3.jpg,bcd/3.jpg,bcd,1,0,0,0,0,0,train
3,4.jpg,bcd/4.jpg,bcd,1,0,0,0,0,0,train
4,5.jpg,bcd/5.jpg,bcd,1,0,0,0,0,0,train
...,...,...,...,...,...,...,...,...,...,...
71575,7041-150.jpg,sdnet_bikit/D/CD/7041-150.jpg,sdnet_binary,0,1,0,0,0,0,test
71576,7016-101.jpg,sdnet_bikit/D/CD/7016-101.jpg,sdnet_binary,0,1,0,0,0,0,test
71577,7030-96.jpg,sdnet_bikit/D/CD/7030-96.jpg,sdnet_binary,0,1,0,0,0,0,test
71578,7029-157.jpg,sdnet_bikit/D/CD/7029-157.jpg,sdnet_binary,0,1,0,0,0,0,test
71579,7027-170.jpg,sdnet_bikit/D/CD/7027-170.jpg,sdnet_binary,0,1,0,0,0,0,test

In [80]:
string_list = []
class_names = ['NoDamage', 'Crack', 'Efflorescence', 'Spalling', 'BarsExposed', 'Rust']
for index, row in tqdm(df1.iterrows()):
    string = ""
    for idx, class_name in enumerate(class_names):        
        if row[class_name] > 0: 
           string += class_name[0]
    string_list.append(string)

df1["CLASSES_STRING"] = string_list
df1["CLASSES_N"] = df1["CLASSES_STRING"].apply(lambda x: len(x))

71580it [00:03, 23115.07it/s]

In [82]:
df1 = df1[order]
df2 = df2[order]

In [83]:
df1

,img_name,img_path,name,split_type,NoDamage,Crack,Efflorescence,Spalling,BarsExposed,Rust,CLASSES_STRING,CLASSES_N
0,1.jpg,bcd/1.jpg,bcd,train,1,0,0,0,0,0,N,1
1,2.jpg,bcd/2.jpg,bcd,train,1,0,0,0,0,0,N,1
2,3.jpg,bcd/3.jpg,bcd,train,1,0,0,0,0,0,N,1
3,4.jpg,bcd/4.jpg,bcd,train,1,0,0,0,0,0,N,1
4,5.jpg,bcd/5.jpg,bcd,train,1,0,0,0,0,0,N,1
...,...,...,...,...,...,...,...,...,...,...,...,...
71575,7041-150.jpg,sdnet_bikit/D/CD/7041-150.jpg,sdnet_binary,test,0,1,0,0,0,0,C,1
71576,7016-101.jpg,sdnet_bikit/D/CD/7016-101.jpg,sdnet_binary,test,0,1,0,0,0,0,C,1
71577,7030-96.jpg,sdnet_bikit/D/CD/7030-96.jpg,sdnet_binary,test,0,1,0,0,0,0,C,1
71578,7029-157.jpg,sdnet_bikit/D/CD/7029-157.jpg,sdnet_binary,test,0,1,0,0,0,0,C,1
71579,7027-170.jpg,sdnet_bikit/D/CD/7027-170.jpg,sdnet_binary,test,0,1,0,0,0,0,C,1

In [84]:
df2

,img_name,img_path,name,split_type,NoDamage,Crack,Efflorescence,Spalling,BarsExposed,Rust,CLASSES_STRING,CLASSES_N
0,14_001915.jpg,dacl1k/dacl1k/v1/14_001915.jpg,dacl1k,train,0,0,0,0,0,1,R,1
1,06_000043.jpg,dacl1k/dacl1k/v1/06_000043.jpg,dacl1k,train,1,0,0,0,0,0,N,1
2,17_000084.jpg,dacl1k/dacl1k/v1/17_000084.jpg,dacl1k,train,1,0,0,0,0,0,N,1
3,06_000213.jpg,dacl1k/dacl1k/v1/06_000213.jpg,dacl1k,train,0,0,0,0,0,1,R,1
4,06_000223.jpg,dacl1k/dacl1k/v1/06_000223.jpg,dacl1k,train,0,1,0,0,0,0,C,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1469,16_000322.jpg,dacl1k/dacl1k/v1/16_000322.jpg,dacl1k,test,0,0,0,1,1,0,BS,2
1470,16_000053.jpg,dacl1k/dacl1k/v1/16_000053.jpg,dacl1k,test,0,0,0,1,1,0,BS,2
1471,16_000054.jpg,dacl1k/dacl1k/v1/16_000054.jpg,dacl1k,test,0,0,0,1,1,0,BS,2
1472,16_000333.jpg,dacl1k/dacl1k/v1/16_000333.jpg,dacl1k,test,0,0,0,1,1,0,BS,2
1473,16_000068.jpg,dacl1k/dacl1k/v1/16_000068.jpg,dacl1k,test,0,0,1,0,1,0,BE,2

In [ ]:
df1.to_csv("meta4.csv", index=False)
df.to_csv("meta3+dacl1k.csv", index=False)

# data

#

In [108]:
del df["img_path"]

In [109]:
xs=["image_0000444_crop_0000002.png", "image_0000473_crop_0000004.png", "image_0000199_crop_0000003.png", "image_0000403_crop_0000002.png", "image_0000587_crop_0000004.png"]

In [110]:
for x in xs:
    display(df[df["img_name"].isin([x])])

,img_name,name,split_type,NoDamage,Crack,Efflorescence,Spalling,BarsExposed,Rust,CLASSES_STRING,CLASSES_N
13757,image_0000444_crop_0000002.png,codebrim-classif,test,1,0,0,0,0,0,N,1

,img_name,name,split_type,NoDamage,Crack,Efflorescence,Spalling,BarsExposed,Rust,CLASSES_STRING,CLASSES_N
8129,image_0000473_crop_0000004.png,codebrim-classif,train,0,1,0,0,0,0,C,1

,img_name,name,split_type,NoDamage,Crack,Efflorescence,Spalling,BarsExposed,Rust,CLASSES_STRING,CLASSES_N
7971,image_0000199_crop_0000003.png,codebrim-classif,train,0,0,1,0,0,1,ER,2

,img_name,name,split_type,NoDamage,Crack,Efflorescence,Spalling,BarsExposed,Rust,CLASSES_STRING,CLASSES_N
7678,image_0000403_crop_0000002.png,codebrim-classif,train,0,0,0,1,1,1,SBR,3

,img_name,name,split_type,NoDamage,Crack,Efflorescence,Spalling,BarsExposed,Rust,CLASSES_STRING,CLASSES_N
9526,image_0000587_crop_0000004.png,codebrim-classif,train,0,0,0,1,1,1,SBR,3

In [120]:
df[(df["Spalling"]==1) & (df["name"]=="codebrim-classif") & (df["CLASSES_N"]==1) & (df["split_type"]=="train")].head(10)

,img_name,name,split_type,NoDamage,Crack,Efflorescence,Spalling,BarsExposed,Rust,CLASSES_STRING,CLASSES_N
6069,image_0000230_crop_0000002.png,codebrim-classif,train,0,0,0,1,0,0,S,1
6080,image_0000296_crop_0000002.png,codebrim-classif,train,0,0,0,1,0,0,S,1
6083,image_0000820_crop_0000002.png,codebrim-classif,train,0,0,0,1,0,0,S,1
6085,image_0001063_crop_0000013.png,codebrim-classif,train,0,0,0,1,0,0,S,1
6119,image_0001485_crop_0000004.png,codebrim-classif,train,0,0,0,1,0,0,S,1
6131,image_0000150_crop_0000002.png,codebrim-classif,train,0,0,0,1,0,0,S,1
6173,image_0000706_crop_0000002.png,codebrim-classif,train,0,0,0,1,0,0,S,1
6223,image_0001235_crop_0000020.png,codebrim-classif,train,0,0,0,1,0,0,S,1
6265,image_0001451_crop_0000003.png,codebrim-classif,train,0,0,0,1,0,0,S,1
6297,image_0000906_crop_0000001.png,codebrim-classif,train,0,0,0,1,0,0,S,1

In [114]:
df[(df["NoDamage"]==1) & (df["name"]=="mcds_bikit")]

,img_name,name,split_type,NoDamage,Crack,Efflorescence,Spalling,BarsExposed,Rust,CLASSES_STRING,CLASSES_N
14465,IMG_0086_43b4tp0w.esh.jpg,mcds_bikit,val,1,0,0,0,0,0,N,1
14466,IMG_0086_fjka1ncs.k03.jpg,mcds_bikit,val,1,0,0,0,0,0,N,1
14469,IMG_0086_wddlyuxb.ww0.jpg,mcds_bikit,val,1,0,0,0,0,0,N,1
14470,IMG_0086_zzatz0mw.dbf.jpg,mcds_bikit,val,1,0,0,0,0,0,N,1
14478,IMG_0087_5lar32dh.4ma.jpg,mcds_bikit,val,1,0,0,0,0,0,N,1
...,...,...,...,...,...,...,...,...,...,...,...
15553,RIMG2167_u0vqkm0p.o3o.jpg,mcds_bikit,train,1,0,0,0,0,0,N,1
15554,RIMG2167_ul3cjjmo.aiy.jpg,mcds_bikit,train,1,0,0,0,0,0,N,1
15555,RIMG2169_3kdem0wd.ekz.jpg,mcds_bikit,train,1,0,0,0,0,0,N,1
15556,RIMG2169_fgeph0wm.qou.jpg,mcds_bikit,train,1,0,0,0,0,0,N,1
15557,RIMG2169_mfv1vscl.i11.jpg,mcds_bikit,train,1,0,0,0,0,0,N,1

In [100]:
xs=["001_kwmsqgk2.yfv.jpg",  "002_paed3ogk.1ws.jpg", "004_1xgwoahx.lqq.jpg", "004_z3jrhz45.3ms.jpg"]

In [101]:
for x in xs:
    display(df[df["img_name"].isin([x])])

,img_name,img_path,name,split_type,NoDamage,Crack,Efflorescence,Spalling,BarsExposed,Rust,CLASSES_STRING,CLASSES_N
13803,001_kwmsqgk2.yfv.jpg,mcds/Corrosion/no rust staining/001_kwmsqgk2.y...,mcds_bikit,val,0,1,0,0,0,0,C,1

,img_name,img_path,name,split_type,NoDamage,Crack,Efflorescence,Spalling,BarsExposed,Rust,CLASSES_STRING,CLASSES_N
13820,002_paed3ogk.1ws.jpg,mcds/MultiClassifier/efflorescence/002_paed3og...,mcds_bikit,val,0,0,1,0,0,0,E,1

,img_name,img_path,name,split_type,NoDamage,Crack,Efflorescence,Spalling,BarsExposed,Rust,CLASSES_STRING,CLASSES_N
13839,004_1xgwoahx.lqq.jpg,mcds/Corrosion/rust staining/004_1xgwoahx.lqq.jpg,mcds_bikit,val,0,0,0,1,1,1,SBR,3

,img_name,img_path,name,split_type,NoDamage,Crack,Efflorescence,Spalling,BarsExposed,Rust,CLASSES_STRING,CLASSES_N
13845,004_z3jrhz45.3ms.jpg,mcds/Corrosion/rust staining/004_z3jrhz45.3ms.jpg,mcds_bikit,val,0,0,0,0,0,1,R,1